/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-abr-2017, 23:11:02
    Author     : deico
*/

/** clock.css (place input same directory as Clock.java and ensure build script copies the file to the same location as Clock.class) */
.root {
  -fx-background-color: linear-gradient(to top, #1d1d1d, black);
  -fx-padding: 12;
  -fx-background-insets: 5;
  -fx-effect: dropshadow(three-pass-box, #1d1d1d, 10, 0, 0, 0);
}

#face {
  -fx-fill: radial-gradient(radius 180%, #1d1d1d, derive(#1d1d1d, -90%), derive(#1d1d1d, 30%));
  -fx-stroke: derive(white, -45%);
  -fx-stroke-width: 5;
  -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 4, 4);
}

#brand {
  -fx-font-size: 14px;
  -fx-text-fill: white;

}

#hourHand {
  -fx-stroke: darkslategray;
  -fx-stroke-width: 4;
  -fx-stroke-line-cap: round;
}

#minuteHand {
  -fx-stroke: derive(darkslategray, -5%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}

#secondHand {
  -fx-stroke: derive(whitesmoke, -15%);
  -fx-stroke-width: 2;
  -fx-stroke-line-cap: round;
}

#spindle {
  -fx-fill: derive(darkslategray, +5%);
}

#digitalClock {
  -fx-font-size: 20px;
  -fx-font-family: 'Courier New';
  -fx-text-fill: white;
  -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.tick {
  -fx-stroke: derive(white, -15%);
  -fx-stroke-width: 3;
  -fx-stroke-line-cap: round;
}
#raiz{
    -fx-background-image: url(dark.jpg);
}